<div class="row">
<div class="span10">
  <div class="jumbotron masthead">
    <form action="/" method="post">
      <p><button class="btn btn-primary btn-large">New PutsReq</button></p>
    </form>
  </div>
</div>
</div>
