<div class="row">
  <div class="span10">
    <div class="">
      <header>
        <img src="/img/logo.png" />
        <h3><em>PutsReq</em> lets you record HTTP requests and simulate responses like no other tool available. Try it now!</h3>
        <form action="/" method="post">
          <button class="btn btn-primary btn-large">Create a PutsReq</button>
        </form>
      </header>
      <section class="start">

        <h4>Record the requests sent or received</h4>
        <p>Instead of sending data directly to an API, you can change the URL to a PutsReq URL and inspect all headers and body which are being sent.
        You can also debug the data being sent to your endpoint/webhook by configuring a PutsReq URL instead of your real URL.</p>

        <h4 class="tm20">Simulate responses</h4>
        <p>PutsReq is the easiest way to simulate/stub HTTP responses. You can define the response status, headers and body programmatically with JavaScript using the Response Builder.
        If you don't want to test against the real API, but you know how to mimic the response, you can do it using the Response Builder.</p>
        <p>Some use cases: <br/><br/>
        * Get the real response and once then create a Response Builder simulating it and use PutsReq for the next calls.<br/>
        * Use PutsReq for your Integration tests to check if your application is making the calls correctly by checking "putsreq.com/123/last".</br>
        * Checkout this <a href="https://github.com/phstc/putsreq_integration_sample">sample project</a> for Integration tests using PutsReq.</p>

      </section>
    </div>
  </div>
</div>
