.bg {background:#000 !important}
.block {display:block !important}
.border {border:1px solid black !important}
.breadcrumb {font-size:11px !important}
.bz {border: 0 !important}
.f9 {font-size:57px !important;}
.f8 {font-size:38px !important;}
.f7 {font-size:30px !important;}
.f6 {font-size:27px !important;}
.f5 {font-size:20px !important;}
.f4 {font-size:17px !important;}
.f3 {font-size:15px !important;}
.f2 {font-size:13px !important;}
.f1 {font-size:8px !important;}
.f10 {font-size:10px !important;}
.fw {width:100% !important}
.fwb {font-weight:bold !important}
.fsi {font-style:italic !important}
.fl {float:left !important}
.fr {float:right !important}
.h10 {height:10px !important}
.h20 {height:20px !important}
.h30 {height:30px !important}
.h40 {height:40px !important}
.h50 {height:50px !important}
.h80 {height:80px !important}
.h100 {height:100px !important}
.h150 {height:150px !important}
.h200 {height:200px !important}
.h250 {height:250px !important}
.h300 {height:300px !important}
.hidden {display: none !important}
.hr {border-top: 1px solid #c9c9c9;}
.left {float:left}
.lh5 {line-height:5px !important}
.lh10 {line-height:10px !important}
.lh15 {line-height:15px !important}
.lh20 {line-height:20px !important}
.lh25 {line-height:25px !important}
.lh30 {line-height:30px !important}
.lh35 {line-height:35px !important}
.lm0 {margin-left:0 !important}
.no-text-shadow {text-shadow: none;}
.p5 {padding: 5px !important;}
.right {float:right}
.tac {text-align:center !important}
.tal {text-align:left !important}
.tar {text-align:right !important}
.tm1 {margin-top:1px !important}
.tm2 {margin-top:2px !important}
.tm3 {margin-top:3px !important}
.tm4 {margin-top:4px !important}
.tm5 {margin-top:5px !important}
.tm6 {margin-top:6px !important}
.tm7 {margin-top:7px !important}
.tm8 {margin-top:8px !important}
.tm9 {margin-top:9px !important}
.tm10 {margin-top:10px !important}
.tm11 {margin-top:11px !important}
.tm12 {margin-top:12px !important}
.tm13 {margin-top:13px !important}
.tm14 {margin-top:14px !important}
.tm15 {margin-top:15px !important}
.tm20 {margin-top:20px !important}
.tm25 {margin-top:25px !important}
.tm30 {margin-top:30px !important}
.tm35 {margin-top:35px !important}
.tm40 {margin-top:40px !important}
.tm45 {margin-top:45px !important}
.tm50 {margin-top:50px !important}
.tm60 {margin-top:60px !important}
.tm70 {margin-top:70px !important}
.tm80 {margin-top:80px !important}
.tm90 {margin-top:90px !important}
.tm100 {margin-top:100px !important}
.tm130 {margin-top:130px !important}
.bm5 {margin-bottom:5px !important}
.bm10 {margin-bottom:10px !important}
.bm15 {margin-bottom:15px !important}
.bm20 {margin-bottom:20px !important}
.bm25 {margin-bottom:25px !important}
.bm30 {margin-bottom:30px !important}
.bm35 {margin-bottom:35px !important}
.bm40 {margin-bottom:40px !important}
.bm45 {margin-bottom:45px !important}
.bm50 {margin-bottom:50px !important}
.pt1 {padding-top:1px !important}
.pt2 {padding-top:2px !important}
.pt3 {padding-top:3px !important}
.pt4 {padding-top:4px !important}
.pt5 {padding-top:5px !important}
.pt10 {padding-top:10px !important}
.pt20 {padding-top:20px !important}
.pt30 {padding-top:30px !important}
.pb1 {padding-bottom:1px !important}
.pb2 {padding-bottom:2px !important}
.pb3 {padding-bottom:3px !important}
.pb4 {padding-bottom:4px !important}
.pb5 {padding-bottom:5px !important}
.pb10 {padding-bottom:10px !important}
.pb20 {padding-bottom:20px !important}
.pb30 {padding-bottom:30px !important}
.pl10 {padding-left:10px !important}
.pl20 {padding-left:20px !important}
.pl30 {padding-left:30px !important}
.pr10 {padding-right:10px !important}
.pr20 {padding-right:20px !important}
.pr30 {padding-right:30px !important}
.lm1 {margin-left:1px !important}
.lm2 {margin-left:2px !important}
.lm3 {margin-left:3px !important}
.lm4 {margin-left:4px !important}
.lm5 {margin-left:5px !important}
.lm10 {margin-left:10px !important}
.lm15 {margin-left:15px !important}
.lm20 {margin-left:20px !important}
.lm25 {margin-left:25px !important}
.lm30 {margin-left:30px !important}
.lm35 {margin-left:35px !important}
.lm40 {margin-left:40px !important}
.lm45 {margin-left:45px !important}
.lm50 {margin-left:50px !important}
.pointer {cursor: pointer !important}
.rm1 {margin-right:1px !important}
.rm2 {margin-right:2px !important}
.rm3 {margin-right:3px !important}
.rm4 {margin-right:4px !important}
.rm5 {margin-right:5px !important}
.rm10 {margin-right:10px !important}
.rm15 {margin-right:15px !important}
.rm20 {margin-right:20px !important}
.rm25 {margin-right:25px !important}
.rm30 {margin-right:30px !important}
.rm35 {margin-right:35px !important}
.rm40 {margin-right:40px !important}
.rm45 {margin-right:45px !important}
.rm50 {margin-right:50px !important}
.w100 {width:100px !important}
.w200 {width:200px !important}
.w300 {width:300px !important}
.w400 {width:400px !important}
.w500 {width:500px !important}
.w5pc {width:5% !important;}
.w10pc {width:10% !important;}
.w20pc {width:10% !important;}
.w30pc {width:30% !important;}
.w40pc {width:40% !important;}
.w50pc {width:50% !important;}
.w60pc {width:60% !important;}
.w70pc {width:70% !important;}
.w80pc {width:80% !important;}
.w90pc {width:90% !important;}
.w100pc {width:100% !important;}